<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book : {{book.name}}</title>
</head>
<body>
    <h1>{{book.name}}</h1>
    <h2>{{book.author}}</h2>
    <form action="/update-book/{{book.id}}" method="POST">
        {%csrf_token%}
        <input type="text" name="name">
        <button type="submit">Update Data</button>
    </form>
    <a href="/delete-book/{{book.id}}">delete</a>
</body>
</html>